<app-modal
  title="Заявка отправлена"
  [isOpen]="isModalOpen"
  (closeModal)="onModalClose()"
></app-modal>

<div class="background background-default"></div>

<div class="particles">
  <div class="particle particle-1"></div>
  <div class="particle particle-2"></div>
  <div class="particle particle-3"></div>
  <div class="particle particle-4"></div>
  <div class="particle particle-5"></div>
  <div class="particle particle-6"></div>
  <div class="particle particle-7"></div>
  <div class="particle particle-8"></div>
</div>

<div class="page-container theme-light">
  <app-header theme="light"></app-header>

  <main>
    <div class="page-content">
      <form
        [formGroup]="form"
        (ngSubmit)="submit()"
        appFadeInAndUpMultiplyAnimation
        [duration]="1.2"
        [delay]="0.3"
      >
        <h1>{{ translateService.translate('submit-an-application') }}</h1>

        <div>
          <div class="with-content-animation">
            <app-text-input
              fieldId="name"
              [control]="form.get('name')"
              [label]="translateService.translate('how-can-we-call-you')"
              [icon]="icons.user"
              [errorMessages]="{
                required: translateService.translate('required-field')
              }"
            ></app-text-input>
          </div>
        </div>

        <div>
          <div class="with-content-animation">
            <app-text-input
              fieldId="email"
              [control]="form.get('email')"
              label="Email"
              [icon]="icons.email"
              [errorMessages]="{
                required: translateService.translate('required-field'),
                email: translateService.translate('invalid-email')
              }"
            ></app-text-input>
          </div>
        </div>

        <div>
          <div class="with-content-animation">
            <app-text-input
              fieldId="phone"
              [control]="form.get('phone')"
              [label]="translateService.translate('phone')"
              [icon]="icons.phone"
              [errorMessages]="{
                required: translateService.translate('required-field')
              }"
            ></app-text-input>
          </div>
        </div>

        <div>
          <div class="textarea with-content-animation">
            <app-textarea
              fieldId="comment"
              [control]="form.get('comment')"
              [label]="
                translateService.translate('comments-on-the-application')
              "
            >
            </app-textarea>
          </div>
        </div>

        <div>
          <div class="checkbox with-content-animation">
            <app-checkbox
              fieldId="agreement"
              [control]="form.get('agreement')"
              [label]="translateService.translate('form-agreement_data')"
            ></app-checkbox>
          </div>
        </div>

        <div>
          <div class="checkbox with-content-animation">
            <app-checkbox
              fieldId="marketing"
              [control]="form.get('marketing')"
              [label]="translateService.translate('form-agreement_marketing')"
            ></app-checkbox>
          </div>
        </div>

        <div class="serverError" *ngIf="!!serverError">
          {{ serverError | json }}
        </div>
        <button
          mat-flat-button
          color="primary"
          type="submit"
          role="button"
          [disabled]="form.invalid || isFetching"
        >
          {{ translateService.translate('submit') }}
        </button>
      </form>
    </div>

    <app-sidebar theme="light"></app-sidebar>
  </main>
</div>
