@import '../../shared/styles/variables';

.contacts {
  margin: 48px 0;
}

.main-contacts {
  margin-bottom: 32px;
  margin-top: 48px;

  a {
    font-size: 20px;
    line-height: 1.8;
    border-bottom: 1px solid $text-color-primary;
    transition: $transition-1;
    font-family: Arial, serif;
    &:hover {
      letter-spacing: 0.5px;
    }
  }
}

.map {
  margin-bottom: 48px;

  iframe {
    width: 100%;
    height: 400px;
    box-shadow: $shadow-1;
  }
}
