@import '../../shared/styles/variables';

.background-image {
  position: absolute;
  left: 0;
  width: 100%;

  &.background-image-1 {
    opacity: 1;
    top: 450px;
    width: 150%;
    left: -25%;
    transform: rotate(15deg);
  }
}
h1 {
  margin-bottom: 40px;
}
h2 {
  font-size: 40px;
  margin-bottom: 24px;
}

.products-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 48px;
  margin-bottom: 150px;
  width: 100%;
}
