@import '../../../shared/styles/variables';

:host {
  background-color: $color-primary;
  overflow: hidden;
}

.app {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  &::-webkit-scrollbar {
    width: 0;
  }
}
